









  <!-- Login PAGE-->

  <!--============================================== HERO BSPC PS ============================================================== -->
  <!-- Hero Section -->
  <div class="bg-primary bg-img-hero" style="background-image: url(../../assets/svg/components/isometric-squares.svg);">
    <div class="container space-2 space-lg-3">
      <div class="w-lg-65 text-center mx-lg-auto">
        <span class="badge badge-soft-light badge-pill font-size-1 py-3 px-4 mb-3">Login Page</span>
        <h1 class="text-white mb-0">Millions turn to Amazon for a great customer experience</h1>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->
  <!--=====================***========================= HERO BSPC PS ===============================***=============================== -->



<!--============================================== Login Form BSPC PS ============================================================== -->
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-2">
      <!-- Form -->
      <form class="js-validate">
        <!-- Title -->
        <div class="mb-5 mb-md-7">
          <h1 class="h2">Welcome back</h1>
          <p>Login to manage your account.</p>
        </div>
        <!-- End Title -->

        <!-- Form Group -->
        <div class="js-form-message form-group">
          <label class="input-label" for="signinSrEmail">Email address</label>
          <input type="email" class="form-control" name="email" id="signinSrEmail" tabindex="1" placeholder="Email address" aria-label="Email address" required
                 data-msg="Please enter a valid email address.">
        </div>
        <!-- End Form Group -->

        <!-- Form Group -->
        <div class="js-form-message form-group">
          <label class="input-label" for="signinSrPasswordExample2" tabindex="0">
            <span class="d-flex justify-content-between align-items-center">
              Password
              <a class="link-underline text-capitalize font-weight-normal" href="recover-account.html">Forgot Password?</a>
            </span>
          </label>
          <input type="password" class="form-control" name="password" id="signinSrPasswordExample2" tabindex="2" placeholder="********" aria-label="********" required
                 data-msg="Your password is invalid. Please try again.">
        </div>
        <!-- End Form Group -->

        <!-- Button -->
        <div class="row align-items-center mb-5">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <span class="font-size-1 text-muted">Don't have an account?</span>
            <a class="font-size-1 font-weight-bold" href="signup.html">Register Now</a>
          </div>

          <div class="col-sm-6 text-sm-right">
            <button type="submit" class="btn btn-primary transition-3d-hover">Get Started</button>
          </div>
        </div>
        <!-- End Button -->
      </form>
      <!-- End Form -->
    </div>
  </div>
</div>
<!--=====================***=========================End Login Form BSPC PS ===============================***=============================== -->

<!--END Login PAGE-->















