





<!-- CONTACT PAGE-->

  <!--============================================== HERO BSPC PS ============================================================== -->
  <!-- Hero Section -->
  <div class="bg-primary bg-img-hero" style="background-image: url(../../assets/svg/components/isometric-squares.svg);">
    <div class="container space-2 space-lg-3">
      <div class="w-lg-65 text-center mx-lg-auto">
        <span class="badge badge-soft-light badge-pill font-size-1 py-3 px-4 mb-3">CONTACT US</span>
        <h1 class="text-white mb-0">Millions turn to Amazon for a great customer experience</h1>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->
  <!--=====================***========================= HERO BSPC PS ===============================***=============================== -->








  <!--============================================== FORM BSPC PS ============================================================== -->
  <!-- Contact Form Section -->
  <div class="container space-2">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
      <h2>Tell us about yourself</h2>
      <p>Whether you have questions or you would just like to say hello, contact us.</p>
    </div>
    <!-- End Title -->

    <div class="w-lg-80 mx-auto">
      <!-- Contacts Form -->
      <form class="js-validate">
        <div class="row">
          <!-- Input -->
          <div class="col-sm-6 mb-4">
            <div class="js-form-message">
              <label class="input-label">Your name</label>
              <input type="text" class="form-control" name="name" placeholder="Jeff Fisher" aria-label="Jeff Fisher"
                required data-msg="Please enter your name.">
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <div class="col-sm-6 mb-4">
            <div class="js-form-message">
              <label class="input-label">Your email address</label>
              <input type="email" class="form-control" name="email" placeholder="jackwayley@gmail.com"
                aria-label="jackwayley@gmail.com" required data-msg="Please enter a valid email address.">
            </div>
          </div>
          <!-- End Input -->

          <div class="w-100"></div>

          <!-- Input -->
          <div class="col-sm-6 mb-4">
            <div class="js-form-message">
              <label class="input-label">Subject</label>
              <input type="text" class="form-control" name="subject" placeholder="Web design" aria-label="Web design"
                required data-msg="Please enter a subject.">
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <div class="col-sm-6 mb-4">
            <div class="js-form-message">
              <label class="input-label">Your phone number</label>
              <input type="number" class="form-control" name="phone" placeholder="1-800-643-4500"
                aria-label="1-800-643-4500" required data-msg="Please enter a valid phone number.">
            </div>
          </div>
          <!-- End Input -->
        </div>

        <!-- Input -->
        <div class="js-form-message mb-6">
          <label class="input-label">How can we help you?</label>
          <div class="input-group">
            <textarea class="form-control" rows="4" name="text" placeholder="Hi there, I would like to ..."
              aria-label="Hi there, I would like to ..." required data-msg="Please enter a reason."></textarea>
          </div>
        </div>
        <!-- End Input -->

        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-wide transition-3d-hover mb-4">Submit</button>
          <p class="small">We'll get back to you in 1-2 business days.</p>
        </div>
      </form>
      <!-- End Contacts Form -->
    </div>
  </div>
  <!-- End Contact Form Section -->
  <!--=====================***========================= FORM BSPC PS ===============================***=============================== -->








  <!--============================================== MAP BSPC PS ============================================================== -->
  <!-- Map Section -->
  <div id="contactsSection" class="position-relative mx-3 mx-md-8">
    <div class="container space-1 space-lg-3">
      <div class="row justify-content-md-end">
        <div class="col-md-6 col-lg-5">
          <div class="card bg-white position-relative z-index-999 p-5 p-sm-7">
            <div class="mb-5">
              <span class="d-block font-size-2 text-dark text-lh-sm">Dhaka,</span>
              <span class="d-block font-size-4 text-dark font-weight-bold text-lh-sm">Bangladesh</span>
            </div>

            <!-- Contacts -->
            <div class="media mb-5">
              <span class="icon icon-xs icon-soft-primary icon-circle mr-3">
                <i class="fas fa-phone"></i>
              </span>
              <div class="media-body">
                <h5 class=" mb-1">Call us</h5>
                <span class="d-block text-body font-size-1">+88 01777-424142</span>
              </div>
            </div>
            <!-- End Contacts -->

            <!-- Contacts -->
            <div class="media mb-5">
              <span class="icon icon-xs icon-soft-primary icon-circle mr-3">
                <i class="fas fa-envelope"></i>
              </span>
              <div class="media-body text-truncate">
                <h5 class=" mb-1">Email us</h5>
                <span class="d-block text-body font-size-1">nimu@example.com</span>
              </div>
            </div>
            <!-- End Contacts -->

            <!-- Contacts -->
            <div class="media">
              <span class="icon icon-xs icon-soft-primary icon-circle mr-3">
                <i class="fas fa-map-marker-alt"></i>
              </span>
              <div class="media-body">
                <h5 class=" mb-1">Visit us</h5>
                <span class="d-block text-body font-size-1">Bashundhara, Dhaka</span>
              </div>
            </div>
            <!-- End Contacts -->
          </div>
        </div>
      </div>
    </div>

    <!-- Gmap -->
    <div class="position-md-absolute top-0 right-0 bottom-0 left-0">
      <div id="mapExample1" class="min-h-300rem h-100 rounded" data-hs-leaflet-options='{
           "map": {
             "scrollWheelZoom": false,
             "coords": [23.8130, 90.4222]
           },
           "marker": [
             {
               "coords": [23.8130, 90.4222],
               "icon": {
                 "iconUrl": "../../assets/svg/components/map-pin.svg",
                 "iconSize": [50, 45]
               },
               "popup": {
                 "text": "Jamuna future park!",
                 "title": "Bashundhara"
               }
             }
           ]
          }'></div>
    </div>
    <!-- End Gmap -->
  </div>
  <!-- End Map Section -->
  <!--=====================***========================= MAP BSPC PS ===============================***=============================== -->





  <!--============================================== HERO BSPC PS ============================================================== -->
<br>
<br>
<br>
  <!--=====================***========================= HERO BSPC PS ===============================***=============================== -->




  <!-- end CONTACT PAGE -->


