 
 
 
 
 
 
 <!-- SERVICES PAGE-->

  <!--============================================== HERO BSPC PS ============================================================== -->
  <!-- Hero Section -->
  <div class="bg-primary bg-img-hero" style="background-image: url(../../assets/svg/components/isometric-squares.svg);">
    <div class="container space-2 space-lg-3">
      <div class="w-lg-65 text-center mx-lg-auto">
        <span class="badge badge-soft-light badge-pill font-size-1 py-3 px-4 mb-3">SERVICIES</span>
        <h1 class="text-white mb-0">Millions turn to Amazon for a great customer experience</h1>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->
  <!--=====================***========================= HERO BSPC PS ===============================***=============================== -->







  <!--==============================================SERVICE BSPC PS ============================================================== -->
  <section class="bspc-service-icon">
    <!-- Icon Blocks Section -->
    <div class="overflow-hidden">
      <div class="container space-2 space-top-lg-3 position-relative">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
          <span class="d-block small font-weight-bold text-cap mb-2">What we do?</span>
          <h2>Blueberry makes designing easy and performance fast</h2>
        </div>
        <!-- End Title -->

        <div class="row">
          <div class="col-sm-4 mb-3 mb-sm-5">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="max-w-6rem w-100 mb-3">
                <img class="img-fluid" src="../../assets/svg/icons/icon-45.svg" alt="SVG">
              </figure>
              <h4>More creativity</h4>
              <p>This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.
              </p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-4 mb-3 mb-sm-5">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="max-w-6rem w-100 mb-3">
                <img class="img-fluid" src="../../assets/svg/icons/icon-5.svg" alt="SVG">
              </figure>
              <h4>Scale budgets efficiently</h4>
              <p>Now that we've aligned the details, it's time to get things mapped out and organized.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-4 mb-3 mb-sm-5">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="max-w-6rem w-100 mb-3">
                <img class="img-fluid" src="../../assets/svg/icons/icon-2.svg" alt="SVG">
              </figure>
              <h4>Smart Dashboards</h4>
              <p>This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.
              </p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="max-w-6rem w-100 mb-3">
                <img class="img-fluid" src="../../assets/svg/icons/icon-1.svg" alt="SVG">
              </figure>
              <h4>Control Center</h4>
              <p>Now that we've aligned the details, it's time to get things mapped out and organized.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-4 mb-3 mb-sm-0">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="max-w-6rem w-100 mb-3">
                <img class="img-fluid" src="../../assets/svg/icons/icon-15.svg" alt="SVG">
              </figure>
              <h4>Email Reports</h4>
              <p>We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-4">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="max-w-6rem w-100 mb-3">
                <img class="img-fluid" src="../../assets/svg/icons/icon-26.svg" alt="SVG">
              </figure>
              <h4>Forecasting</h4>
              <p>Staying focused allows us to turn every project we complete into something we love.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>

        <!-- SVG Shapes -->
        <figure class="position-absolute z-index-n1" style="top: -35rem; left: 50rem; width: 62rem; height: 62rem;">
          <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 260 260">
            <circle fill="#e7eaf3" opacity=".7" cx="130" cy="130" r="130" />
          </svg>
        </figure>
        <!-- End SVG Shapes -->
      </div>
    </div>
    <!-- End Icon Blocks Section -->
  </section>
  <!--=====================***=========================SERVICE BSPC PS ===============================***=============================== -->







  <!--============================================== DETAILS  BSPC PS ============================================================== -->
  <section class="bspc-client">
    <!-- Clients Section -->
    <div class="container space-2">
      <div class="js-slick-carousel slick" data-hs-slick-carousel-options='{
         "slidesToShow": 5,
         "autoplay": true,
         "autoplaySpeed": 5000,
         "infinite": true,
         "responsive": [{
           "breakpoint": 1200,
           "settings": {
             "slidesToShow": 4
           }
         }, {
           "breakpoint": 992,
           "settings": {
             "slidesToShow": 4
           }
         }, {
           "breakpoint": 768,
           "settings": {
             "slidesToShow": 3
           }
         }, {
           "breakpoint": 576,
           "settings": {
             "slidesToShow": 3
           }
         }]
       }'>
        <div class="js-slide">
          <img class="max-w-11rem max-w-md-13rem mx-auto" src="../../assets/svg/clients-logo/kaplan.svg"
            alt="Image Description">
        </div>
        <div class="js-slide">
          <img class="max-w-11rem max-w-md-13rem mx-auto" src="../../assets/svg/clients-logo/hubspot.svg"
            alt="Image Description">
        </div>
        <div class="js-slide">
          <img class="max-w-11rem max-w-md-13rem mx-auto" src="../../assets/svg/clients-logo/stripe.svg"
            alt="Image Description">
        </div>
        <div class="js-slide">
          <img class="max-w-11rem max-w-md-13rem mx-auto" src="../../assets/svg/clients-logo/slack.svg"
            alt="Image Description">
        </div>
        <div class="js-slide">
          <img class="max-w-11rem max-w-md-13rem mx-auto" src="../../assets/svg/clients-logo/airbnb.svg"
            alt="Image Description">
        </div>
        <div class="js-slide">
          <img class="max-w-11rem max-w-md-13rem mx-auto" src="../../assets/svg/clients-logo/spotify.svg"
            alt="Image Description">
        </div>
        <div class="js-slide">
          <img class="max-w-11rem max-w-md-13rem mx-auto" src="../../assets/svg/clients-logo/weebly.svg"
            alt="Image Description">
        </div>
      </div>
    </div>
    <!-- End Clients Section -->
  </section>
  <!--=====================***=========================DETAILS BSPC PS ===============================***=============================== -->








  <!--============================================== TEAM MEMBER BSPC PS ============================================================== -->
  <section class="bspc-article-list">
    <!-- Featured Articles Section -->
    <div class="container space-2">
      <div class="row">
        <div class="col-md-4 mb-5 mb-md-0">
          <!-- SVG Icon -->
          <figure class="w-100 max-w-8rem mb-4">
            <img class="img-fluid" src="../../assets/svg/icons/icon-21.svg" alt="SVG">
          </figure>
          <!-- End SVG Icon -->

          <div class="mb-4">
            <h3>Featured articles</h3>
          </div>

          <ul class="list-unstyled list-article">
            <li><a class="link-underline" href="#">What is Blueberry?</a></li>
            <li><a class="link-underline" href="#">Getting started for workspace creators</a></li>
            <li><a class="link-underline" href="#">Edit your profile</a></li>
            <li><a class="link-underline" href="#">View and download invoices</a></li>
            <li><a class="font-weight-bold" href="#">See all</a></li>
          </ul>
        </div>

        <div class="col-md-4 mb-5 mb-md-0">
          <!-- SVG Icon -->
          <figure class="w-100 max-w-8rem mb-4">
            <img class="img-fluid" src="../../assets/svg/icons/icon-2.svg" alt="SVG">
          </figure>
          <!-- End SVG Icon -->

          <div class="mb-4">
            <h3>Most helpful articles</h3>
          </div>

          <ul class="list-unstyled list-article">
            <li><a class="link-underline" href="#">Working in Blueberry</a></li>
            <li><a class="link-underline" href="#">Delete a page</a></li>
            <li><a class="link-underline" href="#">Add an app to your workspace</a></li>
            <li><a class="link-underline" href="#">What is Item Support?</a></li>
            <li><a class="font-weight-bold" href="#">See all</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <!-- SVG Icon -->
          <figure class="w-100 max-w-8rem mb-4">
            <img class="img-fluid" src="../../assets/svg/icons/icon-4.svg" alt="SVG">
          </figure>
          <!-- End SVG Icon -->

          <div class="mb-4">
            <h3>Popular forum topics</h3>
          </div>

          <ul class="list-unstyled list-article">
            <li><a class="link-underline" href="#">Getting started for new members</a></li>
            <li><a class="link-underline" href="#">Invite new members to your workspace</a></li>
            <li><a class="link-underline" href="#">Bundled Plugins</a></li>
            <li><a class="font-weight-bold" href="#">See all</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Featured Articles Section -->

  </section>

  <!--=====================***=========================TEAM MEMBER BSPC PS ===============================***=============================== -->





  <!--============================================== BSPC PS ============================================================== -->
  <br>
  <br>
  <br>
  <!--=====================***========================= BSPC PS ===============================***=============================== -->




  <!-- END SERVICES PAGE -->